<section class="about-section2">
    <p >EASY TO UNDERSTAND. IMPOSSIBLE TO IGNORE.™ BASIC®, INC 10 - 20©
    </p>
    

    <article class="about-Foto">

        <figure class="About-Figure1">

            <img src="assets/img/About-Gallery_3.jpg" alt="agency-photo">

            <figcaption>(01)</figcaption>

        </figure>

        <figure class="About-Figure2">

            <img src="assets/img/About-Gallery_2.jpg" alt="agency-photo">

            <figcaption>(02)</figcaption>

        </figure>

        <figure class="About-Figure3">

            <img src="assets/img/About-Gallery_4.jpg" alt="agency-photo">

            <figcaption>(03)</figcaption>

        </figure>

        <figure class="About-Figure4">

            <img src="assets/img/About-Gallery_1.jpg" alt="agency-photo">

            <figcaption>(04)</figcaption>

        </figure>

    </article>


</section>

<div class="Basic-pink">
    <img src="assets/img/logo_pink.svg" alt="logo">
</div>


