<section class="home-first-section">
    <h1>WHAT’S NEXT STARTS</h1>
    <h2>
        <div class="Kreis"></div>HERE
    </h2>
    <div>
        <video class="first-videos"  src="assets/video/Hero.mp4" autoplay muted loop></video>
    </div>
    <p>STRATEGY, DESIGN, TECHNOLOGY</p>
    <div class="BR-text-div">
        <div class="BR-Text-Brandibg">
            <h3>
                BASIC® is a branding and digital design agency building products, services, and ecommerce
                experiences
                that turn cultural values into company value.
            </h3>
            <a href="/work">SEE THE WORK</a>
        </div>
        <div class="BR-Home-img">

            <img src="assets/img/footer-logo-bg-white.svg" alt="">
        </div>

    </div>

</section>