<section class="HomeSection2">

    <h1>FEATURED ENGAGEMENTS</h1>
    <article class="HomeSection2-article">

        <div class="google">
            <img class="google-foto" src="assets/img/google-dark.svg" alt="">
            <p>––––––––</p>
            <h3>GOOGLE</h3>
            <h5>Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for
                Google Store and provide strategy, design, and prototyping to other divisions.</h5>
        </div>

        <div class="patagonia">
            <img  src="assets/img/patagonia-dark.svg" alt="">
            <p>––––––––</p>
            <h3>PATAGONIA</h3>
            <h5>Ongoing partnership providing strategy, branding, experience design, and development focused on
                bringing their mission and offerings to consumers through brand-led programs and platforms.</h5>
        </div>

        <div class="airbnb">
            <img src="assets/img/airbnb-dark.svg" alt="" class="company">
            <p>––––––––</p>
            <h3>AIRBNB</h3>
            <h5>Helping the world’s leading peer-to-peer hospitality company with creative vision, experience
                strategy, and execution in partnership with various departments and divisions internally at Airbnb.
            </h5>
        </div>

        <div class="hermam-miller">
            <img class="hermam-miller-foto" src="assets/img/herman-miller-resized.svg" alt="" class="company">
            <p>––––––––</p>
            <h3>HERMAN MILLER</h3>
            <h5>
                A collaborative and performance incentivized partnership with our teams working side by side to reimagine the digital shopping experiences for Herman Miller, Design Within Reach, and Hay.
            </h5>
        </div>

        <div class="under-armour">
            <img class="foto-under-armour" src="assets/img/under-armour-dark.svg" alt="" class="company">
            <p>––––––––</p>
            <h3>UNDER ARMOUR</h3>
            <h5>
                Strategy, design, and development to differentiate the iconic brand’s direct-to-consumer experience through an all new omnichannel approach, global eCommerce
            </h5>
        </div>

        
    </article>

</section>
