
<nav class="NavBar-About" >
    <a href="/"> <img src="/assets/img/logo_pink.svg" alt="" class="Logo-img"></a>
    
    <ul class="Nav-words">
        <li class="WORK_underline"><a href="/work">WORK</a></li>
        <li class="ABOUT_underline"><a href="/about">ABOUT</a></li>
        <li class="NEWS_underline"><a href="/news">NEWS</a></li>
        <li class="THINKING_underline"><a href="/thinking">THINKING</a></li>
        <li class="CONTACT_underline"><a href="/contact">CONTACT</a></li>
    </ul>
    
    <img id="ThreePonkt-nav" src="/assets/img/menu_pink.svg" alt=""  >
    </nav>
    <%- include('./threePonkt')  %> 