<%- include('./partials/header')  %> 
<style>
    .CONTACT_underline {
  text-decoration: underline;
}

</style>


<header class="Contact-Header">
        <div class="contact-Foto">
<img src="/assets/img/contact-Header.jpg" alt="">
        </div>
        <div class="contact-big-word">
            <h1>B®/</h1>
            <h1>CONTACT</h1>
            <p class="klein-text">EASY TO UNDERSTAND. IMPOSSIBLE TO IGNORE.™ BASIC®, INC 10 - 20©
            </p>
            <div class="contact-mailCom">
                <h2>●</h2>
                <div>
                    <h3>NEW BUSINESS</h3>
                    <h3>GENERAL</h3>
                    <p>hi@mail.com</p>

                    <p>hi@mail.com</p>
                    <h3>PRESS</h3>
                    <h3>JOIN US</h3>
                    <p>hi@mail.com</p>

                    <p>hi@mail.com</p>
                </div>
            </div>
        </div>
    </header>

    <%- include('./partials/contactSection')  %> 


    <%- include('./partials/contactFooter')  %>

<%- include('./partials/footer')  %>