@font-face {
  font-family: "SctoGrotes-bold";
  src: url("../font/SctoGroteskA-Bold.woff2");
}
@font-face {
  font-family: "SctoGrotes-medium";
  src: url("../font/SctoGroteskA-Medium.woff2");
}
@font-face {
  font-family: "SctoGrotes-regular";
  src: url("../font/SctoGroteskA-Regular.woff2");
}
body {
  background-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

/* _________________Nvaigation */

.NavBar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 2%;
  align-items: baseline;
  font-family: "SctoGrotes-regular";
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 5%;
}

.Logo-img {
  width: 40%;
}

.Nav-words {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.Nav-words a:hover {
  text-decoration: underline;
}

#ThreePonkt-nav {
  width: 3%;
}

/* NavigationAbout_______ */

.NavBar-About {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 2%;
  align-items: baseline;
  font-family: "SctoGrotes-regular";
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 5%;
}

/* __________ThreePonkt */

#show-Threeponkt-section {
  position: fixed;
  height: 91vh;
  background: #252422;
  width: 90%;
  top: 0;
  right: -100%;

  z-index: 1000;
  color: #f9cdcd;
  padding: 5% 5% 2%;
  font-family: "SctoGrotes-medium";
  transition: right 1s;
}

.transform-img:hover {
  height: 40vh;
  transition: all 0.5s;
}

.text-plus-Img_x {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Text-oben-Threeponkt {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.Text-oben-Threeponkt h4 {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-top: -4%;
}
.first-H4 {
  width: 35%;
  margin-right: 15%;
}

.Text-oben-Threeponkt img {
  width: 2%;
}

#close-x {
  height: 3.2vh;
}

.Article-ThreePonkt {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  min-width: 100%;

  margin-top: 5%;
  background-color: inherit;
  height: 79vh;
}

.Article-ThreePonkt figure {
  border-left: 2px solid #f9cdcd;
  padding-left: 6%;
  margin-left: 5%;
  height: 70vh;
  width: 100%;
}

.Div-ThreePonkt-Margin {
  margin-right: 6%;

  width: 100%;
}
.Article-ThreePonkt h2 {
  font-family: "SctoGrotes-medium";

  margin-bottom: 5%;
  margin-top: 5%;
}

.Article-ThreePonkt h3 {
  font-family: "SctoGrotes-medium";

  margin-bottom: 10%;
}

.Article-ThreePonkt p {
  margin-top: 5%;
  font-family: "SctoGrotes-regular";
}

.Article-ThreePonkt a {
  font-family: "SctoGrotes-regular";
  border: 2px solid #f9cdcd;
  padding: 3% 8%;
  border-radius: 30px;
}
.Article-ThreePonkt img {
  height: 50vh;
  width: 500px;
  transition: all 1 linear;
}
.Hide {
  display: none;
  transition: all 1s linear;

  margin-bottom: 10%;
}

.Article-ThreePonkt::-webkit-scrollbar {
  border-radius: 20px;
}
.Article-ThreePonkt::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: #252422;
}
.Article-ThreePonkt::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Article-ThreePonkt :hover .Hide {
  display: block;
}

/* __________________Home Page __*/

/* firstSection____ */

.home-first-section {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;

  color: #252422;
}
.home-first-section h1 {
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  width: 50%;
}
.home-first-section h2 {
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  text-align: right;
  margin-top: 2%;
}
.home-first-section p {
  font-family: "SctoGrotes-regular";
  margin-top: 1%;
}

.Kreis {
  background: #252422;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
}
.first-videos {
  width: 100%;
  border-bottom: 2px solid #252422;
  padding-bottom: 2%;
}

.BR-text-div {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  padding-bottom: 10%;
  border-bottom: 2px solid #252422;
}
.BR-Text-Brandibg {
  width: 50%;
}
.BR-Text-Brandibg h3 {
  font-family: "SctoGrotes-medium";
  font-size: 2.6rem;
  margin-bottom: 15%;
}
.BR-Text-Brandibg a {
  font-family: "SctoGrotes-regular";
  border: 1px solid #252422;
  padding: 2% 5%;
  border-radius: 30px;
}
.BR-Text-Brandibg a:hover {
  color: #fff;
  background-color: #252422;

  padding: 2% 5%;
  border-radius: 30px;
}

.BR-Home-img {
  width: 30%;
}

/* HomeSection2______ */

.HomeSection2 {
  color: #252422;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.HomeSection2 h1 {
  font-family: "SctoGrotes-medium";
  font-size: 3rem;
  width: 30%;
}
.HomeSection2-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5%;
  overflow-x: auto;

  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.HomeSection2-article div {
  width: 30%;
}
.HomeSection2-article img {
  width: 20vh;
  margin-bottom: 6%;
}
.foto-under-armour,
.google-foto {
  width: 10vh;
  height: 6vh;
}

.hermam-miller-foto {
  width: 45vh;
  height: 8vh;
  margin-bottom: 1%;
}

.HomeSection2-article p {
  width: 20%;
}
.HomeSection2-article h3 {
  font-family: "SctoGrotes-medium";
  font-size: 23px;
  margin-top: 40%;
  width: 150%;
}
.HomeSection2-article h5 {
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin: 15% 0;
  width: 150%;

  border-top: 2px solid #252422;
  padding-top: 20%;
  padding-right: 10%;
}

.google,
.patagonia,
.airbnb,
.hermam-miller {
  margin-right: 25%;
}

/* HomeSection3______ */

.Homesection3 {
  background-color: #252422;
  color: #f9cdcd;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}
.article-Homesection3 {
  padding-top: 10%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10%;
}
.div-text h3 {
  font-family: "SctoGrotes-bold";
  font-size: 6rem;
  width: 65%;
}
.div-text p {
  font-family: "SctoGrotes-regular";
  margin-top: 8%;
  margin-bottom: 15%;
}
.div-text span {
  font-family: "SctoGrotes-bold";
}
.div-video {
  width: 80%;
}
.article-Homesection3 video {
  width: 100%;
}
.div-text a {
  font-family: "SctoGrotes-bold";
  border: 1px solid #f9cdcd;
  padding: 1% 6%;
  border-radius: 30px;
}

.article-Home-news h1 {
  font-family: "SctoGrotes-bold";
  font-size: 3rem;
}
.div-Home-news {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  border-top: 2px solid #f9cdcd;
  padding-top: 3%;
}
.Home-news {
  width: 80%;
  display: flex;
}
.Home-news-text h2 {
  font-family: "SctoGrotes-medium";
  font-size: 3rem;
  margin-left: 3%;
  width: 80%;
}
.Home-news-text p {
  font-family: "SctoGrotes-regular";
  margin-top: 20%;
  margin-left: 3%;
  font-size: 20px;
}
.Home-news-text span {
  margin-left: 4%;
}
.Home-news img {
  width: 40%;
}
.Side-Home-news-img {
  text-align: right;
}
.Side-Home-news-img img {
  width: 30%;
}

/* __________________Work */

.work-header {
  height: 90vh;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
.work-header h1 {
  font-size: 6.5rem;
  font-family: "SctoGrotes-bold";
  width: 50%;
}
.work-header p {
  font-family: "SctoGrotes-regular";
  font-size: 25px;

  margin-top: 15%;
  width: 30%;
  margin-left: 70%;
}
.work-section {
  margin-left: 5%;
  margin-right: 5%;
  color: #252422;
  margin-bottom: 5%;
}
.work-article {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  border-top: 1px solid #252422;
  padding-top: 30px;
  padding-bottom: 30px;
}
.work-first-div p {
  font-family: "SctoGrotes-regular";
  font-size: 22px;
  width: 85%;
}
.work-first-div h1 {
  font-family: "SctoGrotes-medium";
  font-size: 2rem;
  width: 40%;
  margin-top: 40%;
  margin-bottom: 10%;
}
.work-first-div a {
  display: inline-block;
  font-family: "SctoGrotes-bold";
  border: 1px solid #252422;
  padding: 1% 6%;
  border-radius: 30px;
  margin-top: 20%;
}
.work-first-div a:hover {
  color: #fff;
  background-color: #252422;
}
.work-2end-div {
  border-left: 1px solid #252422;
  padding-left: 30px;
  margin-right: 20px;
}
.work-videos video {
  height: 60vh;
}
.work-2end-div img {
  height: 60vh;
}
.work-2end-div h3 {
  font-family: "SctoGrotes-bold";
  margin-top: 5%;
  font-size: 25px;
  margin-bottom: 5%;
}
.work-2end-div p {
  font-family: "SctoGrotes-medium";
  width: 50%;
  font-size: 20px;
}
.work-3ird-div img {
  height: 60vh;
}
.work-3ird-div h3 {
  font-family: "SctoGrotes-bold";
  margin-top: 5%;
  font-size: 25px;
  margin-bottom: 5%;
}
.work-3ird-div p {
  font-family: "SctoGrotes-medium";
  width: 53%;
  font-size: 20px;
}

/* __________________About */
.About-Seite {
  background-color: #252422;
  color: #f9cdcd;
}
/* aboutSection1________ */

.about-Section1 {
  height: 90vh;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  width: 90%;
  border-bottom: 1px solid #f9cdcd;
  padding-bottom: 3%;
}
.about-Section1 div:nth-of-type(1) {
  width: 50%;
  height: 60vh;
}
.about-Section1 div:nth-of-type(1) h1 {
  font-size: 6.5rem;
  font-family: "SctoGrotes-bold";
  width: 80%;
}
.about-Section1 div:nth-of-type(2) {
  width: 50%;
  height: 60vh;
}
.about-Section1 div:nth-of-type(2) h1 {
  margin-top: 32%;
  font-size: 6.5rem;
  font-family: "SctoGrotes-bold";
  width: 80%;
}

.about-Section1 div:nth-of-type(2) p {
  font-family: "SctoGrotes-regular";
  font-size: 30px;
  width: 74%;
}
.about-Section1 div:nth-of-type(2) span {
  font-family: "SctoGrotes-medium";
  font-size: 32px;
}

/* aboutSection2________ */

.about-section2 {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "SctoGrotes-regular";
  font-size: 23px;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  height: 140vh;
  position: relative;
  border-bottom: 1px solid #f9cdcd;
  padding-bottom: 20vh;
}
.about-section2 p {
  width: 60%;
}
.about-section2 img {
  height: 70vh;
  margin-bottom: 2%;
}
.about-Foto {
  position: absolute;
  top: -100vh;
}
.About-Figure1 {
  position: absolute;
  top: 130vh;
  left: 50vh;
  z-index: 3;
}
.About-Figure2 {
  position: absolute;
  top: 160vh;
  left: 65vh;
  z-index: 4;
}
.About-Figure3 {
  position: absolute;
  top: 140vh;
  left: 75vh;
  z-index: 2;
  display: flex;
}
.About-Figure4 {
  position: absolute;
  top: 170vh;
  left: 100vh;
  z-index: 1;
}
.about-Foto figure:hover {
  position: absolute;
  z-index: 5;
}

.about-Foto figcaption {
  margin-left: 12px;
}

.Basic-pink {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
}
/* aboutSection3_____ */

.about-section3-4 {
  border-top: 1px solid #f9cdcd;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.article-about-section3 p {
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin-bottom: 20%;
}
.article-about-section3 h1 {
  font-family: "SctoGrotes-bold";
  font-size: 3rem;
  width: 20%;
}
.div-section3-4-words {
  display: flex;
  justify-content: space-between;
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin-bottom: 9%;
}
.div-Section3-4-json {
  display: grid;
  grid-template-columns: 50% 50%;
}
.div-Section3-4-json h2 {
  font-family: "SctoGrotes-bold";
  font-size: 30px;
  margin-bottom: 4%;
}
.div-Section3-4-json h1 {
  font-family: "SctoGrotes-bold";
  font-size: 5.5rem;
  margin-bottom: 4%;
}

.div-Section3-4-json p {
  font-family: "SctoGrotes-regular";
  margin-bottom: 13%;
  font-size: 20px;
  width: 55%;
}

/* AboutSection4_______ */

.liste-Section4t ul {
  font-family: "SctoGrotes-regular";

  margin-bottom: 10%;
}
.liste-Section4 li {
  margin-bottom: 3%;
}

/* AboutSetion5______ */

.About-Section5 {
  border-top: 1px solid #f9cdcd;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.About-Section5 h4 {
  font-family: "SctoGrotes-medium";
  font-size: 40px;
  margin-bottom: 10%;
  width: 55vh;
}
.div-Section3-4-json a {
  font-family: "SctoGrotes-medium";
  border: 1px solid #f9cdcd;
  padding: 1% 6%;
  border-radius: 30px;
}
.div-Section3-4-json a:hover {
  color: #252422;
  background-color: #f9cdcd;
  border: 1px solid #f9cdcd;
  padding: 1% 6%;
  border-radius: 30px;
}
.Fotos-About-Section5 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  height: 100vh;
}
.Fotos-About-Section5 div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Fotos-About-Section5 h1 {
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  opacity: 0.5;
}
.Fotos-About-Section5 h1:hover {
  opacity: 1;
}
.Fotos-About-Section5 h1:hover + img {
  display: block;
  opacity: 1;
}

.Fotos-About-Section5 h1 span {
  font-size: 20px;
  position: absolute;
  font-family: "SctoGrotes-regular";
  top: 15px;
  padding-left: 10px;
}
.Fotos-About-Section5 img {
  width: 40%;
  position: absolute;

  opacity: 0;
  left: 65%;
  margin-top: 13em;
}
.Fotos-About-Section5 img:hover {
  opacity: 1;
}

/* _________________NEWS */

.news-header div {
  height: 50vh;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  color: #252422;
}
.article-News {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.article-News .div-Home-news {
  border-color: #252422;
}

/* ___________________Thinking */

.thinking-oben-div {
  height: 50vh;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  color: #f9cdcd;
}
.thinking-text-oben {
  display: flex;
  width: 70%;
  margin-left: 5%;
  justify-content: space-between;
  margin-bottom: 10%;
}
.thinking-text-oben h2 {
  font-family: "SctoGrotes-bold";
  font-size: 40px;
}
.thinking-text-oben p {
  font-family: "SctoGrotes-regular";
  font-size: 22px;
  margin-top: 5%;
  width: 75%;
  line-height: 40px;
}
.article-Thinking {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.article-Thinking p {
  margin-top: 45%;
}
.article-Thinking h2 {
  width: 95%;
}
.thinging-forEach h2 {
  width: 100%;
}
.thinging-forEach p {
  margin-top: 65%;
}

/* _____________________Contact */

.contact-Foto img {
  height: 80;
  margin-right: 2%;
  margin-top: 16%;
  width: 94%;
}
.Contact-Header {
  width: 90%;
  display: flex;

  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
.contact-big-word {
  margin-top: 15%;
}
.contact-big-word h1 {
  font-family: "SctoGrotes-bold";
  font-size: 8rem;
}
.klein-text {
  font-family: "SctoGrotes-regular";
  width: 40%;
}
.contact-mailCom {
  display: grid;
  grid-template-columns: 40% 85%;
  margin-top: 15%;
}
.contact-mailCom h2 {
  font-family: "SctoGrotes-bold";
  font-size: 3rem;
}
.contact-mailCom div {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contact-mailCom h3 {
  font-family: "SctoGrotes-bold";
  font-size: 25px;
  margin-bottom: 10%;
}
.contact-mailCom p {
  font-family: "SctoGrotes-regular";
  margin-bottom: 10%;
  font-size: 20px;
  text-decoration: underline;
  opacity: 0.5;
}

/* ContactSection_________ */

.contact-section {
  border-top: 1px solid #252422;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.contact-foto-word {
  display: flex;
}

.contact-number {
  display: flex;
  justify-content: space-between;
  width: 64%;
  margin: 20px 0;
  font-family: "SctoGrotes-regular";
}

.Contact-News {
  padding-left: 5%;
  border-left: 1px solid #000;
  margin-left: 20%;
  margin-bottom: 15%;
}
.contact-border {
  border-bottom: 1px solid #252422;
  padding-bottom: 2px;
  margin-top: 4%;
}
.H2-word-contact {
  margin-left: 4%;
  font-family: "SctoGrotes-bold";
}

/* ContactFooter_______ */

.contact-social-email {
  display: flex;
  justify-content: space-evenly;
}
.Contact-Email-input h3 {
  font-family: "SctoGrotes-regular";
  font-size: 35px;
  margin-bottom: 12%;
}
.Contact-Email-input p {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-bottom: 2%;
}
.Contact-Email-input input {
  border: none;
  background-color: #f4f4f4;
  border-bottom: 2px solid #252422;
  width: 116%;
  height: 2rem;
  margin-top: 7%;
}
.contactFooter {
  margin-bottom: 15%;
}

.contact-social-email h2 {
  margin-bottom: 5%;
  font-family: "SctoGrotes-medium";
  font-size: 35px;
}
.contact-social-email li {
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin-bottom: 15%;
}

/* ________________Footer */

.Footer-Section {
  color: #f4f4f4;
  background-color: #252422;
  min-height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}
.First-Footer-article {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin-bottom: 15%;
}

.First-Footer-article h3 {
  font-family: "SctoGrotes-medium";
  font-size: 2.5rem;
  width: 45%;
}
.First-Footer-article span {
  text-decoration: underline;
}
.First-Footer-article img {
  width: 5%;
}
.Article-Social {
  display: grid;
  grid-template-columns: 50% 20% 20% 20%;
  width: 90%;
}
.Article-Social h2 {
  margin-bottom: 5%;
  font-family: "SctoGrotes-medium";
  font-size: 25px;
}
.Article-Social li {
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin-bottom: 2%;
}
.Footer-Email-input h3 {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-bottom: 2%;
}
.Footer-Email-input p {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-bottom: 2%;
}
.Footer-Email-input input {
  border: none;
  background-color: #252422;
  border-bottom: 2px solid #f4f4f4;
  width: 96%;
  height: 2rem;
}
.last-Footer-article {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(31, 30, 29);
  height: 10vh;
  color: grey;
  font-family: "SctoGrotes-regular";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer-About_______ */

.Footer-Section-About {
  color: #252422;
  background-color: #f4f4f4;
  min-height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}

.last-Footer-article-About {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(31, 30, 29);
  height: 10vh;
  color: #252422;
  background: lightgray;
  font-family: "SctoGrotes-regular";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#email-About {
  background: #f4f4f4;
  border-bottom: 2px solid #252422;
}

/* _______________404_________ */
.Error-404 img {
  margin-bottom: -3rem;
  padding-top: 3rem;
}
