@font-face {
  font-family: "SctoGrotes-bold";
  src: url("../font/SctoGroteskA-Bold.woff2");
}
@font-face {
  font-family: "SctoGrotes-medium";
  src: url("../font/SctoGroteskA-Medium.woff2");
}
@font-face {
  font-family: "SctoGrotes-regular";
  src: url("../font/SctoGroteskA-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

/* _________________Nvaigation */

.NavBar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 2%;
  align-items: baseline;
  font-family: "SctoGrotes-regular";
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 5%;
}

.Logo-img {
  width: 40%;
}

.Nav-words {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

#ThreePonkt-nav {
  width: 3%;
}

/* __________ThreePonkt */

#show-Threeponkt-section {
  position: fixed;
  height: 91vh;
  background: #252422;
  width: 90%;
  top: 0;
  right: -100%;

  z-index: 1000;
  color: #f9cdcd;
  padding: 5% 5% 2%;
  font-family: "SctoGrotes-medium";
  transition: right 1s;
}

.transform-img:hover {
  height: 40vh;
  transition: all 0.5s;
}

.text-plus-Img_x {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Text-oben-Threeponkt {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.Text-oben-Threeponkt h4 {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-top: -4%;
}
.first-H4 {
  width: 35%;
  margin-right: 15%;
}

.Text-oben-Threeponkt img {
  width: 2%;
}

#close-x {
  height: 3.2vh;
}

.Article-ThreePonkt {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  min-width: 100%;

  margin-top: 5%;
  background-color: inherit;
  height: 79vh;
}

.Article-ThreePonkt figure {
  border-left: 2px solid #f9cdcd;
  padding-left: 6%;
  margin-left: 5%;
  height: 70vh;
  width: 100%;
}

.Div-ThreePonkt-Margin {
  margin-right: 6%;

  width: 100%;
}
.Article-ThreePonkt h2 {
  font-family: "SctoGrotes-medium";

  margin-bottom: 5%;
  margin-top: 5%;
}

.Article-ThreePonkt h3 {
  font-family: "SctoGrotes-medium";

  margin-bottom: 10%;
}

.Article-ThreePonkt p {
  margin-top: 5%;
  font-family: "SctoGrotes-regular";
}

.Article-ThreePonkt a {
  font-family: "SctoGrotes-regular";
  border: 2px solid #f9cdcd;
  padding: 3% 8%;
  border-radius: 30px;
}
.Article-ThreePonkt img {
  height: 50vh;
  width: 500px;
  transition: all 1 linear;
}
.Hide {
  display: none;
  transition: all 1s linear;

  margin-bottom: 10%;
}

.Article-ThreePonkt::-webkit-scrollbar {
  border-radius: 20px;
}
.Article-ThreePonkt::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: #252422;
}
.Article-ThreePonkt::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Article-ThreePonkt :hover .Hide {
  display: block;
}

/* __________________Home Page __*/

/* firstSection____ */

.home-first-section {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;

  color: #252422;
}
.home-first-section h1 {
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  width: 50%;
}
.home-first-section h2 {
  font-family: "SctoGrotes-bold";
  font-size: 5rem;
  text-align: right;
  margin-top: 2%;
}
.home-first-section p {
  font-family: "SctoGrotes-regular";
  margin-top: 1%;
}

.Kreis {
  background: #252422;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
}
.first-videos {
  width: 100%;
  border-bottom: 2px solid #252422;
  padding-bottom: 2%;
}

.BR-text-div {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  padding-bottom: 10%;
  border-bottom: 2px solid #252422;
}
.BR-Text-Brandibg {
  width: 50%;
}
.BR-Text-Brandibg h3 {
  font-family: "SctoGrotes-medium";
  font-size: 2.6rem;
  margin-bottom: 15%;
}
.BR-Text-Brandibg a {
  font-family: "SctoGrotes-regular";
  border: 1px solid #252422;
  padding: 2% 5%;
  border-radius: 30px;
}
.BR-Text-Brandibg a:hover {
  color: #fff;
  background-color: #252422;

  padding: 2% 5%;
  border-radius: 30px;
}

.BR-Home-img {
  width: 30%;
}

/* HomeSection2______ */

.HomeSection2 {
  color: #252422;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.HomeSection2 h1 {
  font-family: "SctoGrotes-medium";
  font-size: 3rem;
  width: 30%;
}
.HomeSection2-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5%;
  overflow-x: auto;

  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.HomeSection2-article div {
  width: 30%;
}
.HomeSection2-article img {
  width: 20vh;
  margin-bottom: 6%;
}
.foto-under-armour,
.google-foto {
  width: 10vh;
  height: 6vh;
}

.hermam-miller-foto {
  width: 45vh;
  height: 8vh;
  margin-bottom: 1%;
}

.HomeSection2-article p {
  width: 20%;
}
.HomeSection2-article h3 {
  font-family: "SctoGrotes-medium";
  font-size: 23px;
  margin-top: 40%;
  width: 150%;
}
.HomeSection2-article h5 {
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin: 15% 0;
  width: 150%;

  border-top: 2px solid #252422;
  padding-top: 20%;
  padding-right: 10%;
}

.google,
.patagonia,
.airbnb,
.hermam-miller {
  margin-right: 25%;
}

/* HomeSection3______ */

.Homesection3 {
  background-color: #252422;
  color: #f9cdcd;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}
.article-Homesection3 {
  padding-top: 10%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10%;
}
.div-text h3 {
  font-family: "SctoGrotes-bold";
  font-size: 6rem;
  width: 65%;
}
.div-text p {
  font-family: "SctoGrotes-regular";
  margin-top: 8%;
  margin-bottom: 15%;
}
.div-text span {
  font-family: "SctoGrotes-bold";
}
.div-video {
  width: 80%;
}
.article-Homesection3 video {
  width: 100%;
}
.div-text a {
  font-family: "SctoGrotes-bold";
  border: 1px solid #f9cdcd;
  padding: 1% 6%;
  border-radius: 30px;
}

.article-Home-news h1 {
  font-family: "SctoGrotes-bold";
  font-size: 3rem;
}
.div-Home-news {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  border-top: 2px solid #f9cdcd;
  padding-top: 3%;
}
.Home-news {
  width: 80%;
  display: flex;
}
.Home-news-text h2 {
  font-family: "SctoGrotes-medium";
  font-size: 3rem;
  margin-left: 3%;
  width: 80%;
}
.Home-news-text p {
  font-family: "SctoGrotes-regular";
  margin-top: 20%;
  margin-left: 3%;
  font-size: 20px;
}
.Home-news-text span {
  margin-left: 4%;
}
.Home-news img {
  width: 40%;
}
.Side-Home-news-img {
  text-align: right;
}
.Side-Home-news-img img {
  width: 30%;
}

/* ________________Footer */

.Footer-Section {
  color: #f4f4f4;
  background-color: #252422;
  min-height: 70vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}
.First-Footer-article {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin-bottom: 15%;
}
.dot-footer {
  height: 14px;
  width: 14px;
  margin-right: 4px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: inline-block;
}

.First-Footer-article h3 {
  font-family: "SctoGrotes-medium";
  font-size: 2.5rem;
  width: 45%;
}
.First-Footer-article span {
  text-decoration: underline;
}
.First-Footer-article img {
  width: 5%;
}
.Article-Social {
  display: grid;
  grid-template-columns: 50% 20% 20% 20%;
  width: 90%;
}
.Article-Social h2 {
  margin-bottom: 5%;
  font-family: "SctoGrotes-medium";
  font-size: 25px;
}
.Article-Social li {
  font-family: "SctoGrotes-regular";
  font-size: 20px;
  margin-bottom: 2%;
}
.Footer-Email-input h3 {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-bottom: 2%;
}
.Footer-Email-input p {
  font-family: "SctoGrotes-regular";
  font-size: 25px;
  margin-bottom: 2%;
}
.Footer-Email-input input {
  border: none;
  background-color: #252422;
  border-bottom: 2px solid #f4f4f4;
  width: 96%;
  height: 2rem;
}
.last-Footer-article {
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(31, 30, 29);
  height: 10vh;
  color: grey;
  font-family: "SctoGrotes-regular";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
